@use 'base/mixins' as m;
@use 'base/variables' as v;

.site-footer{
    background-color: v.$rosa;
    padding: 1rem;

    p{
        margin: 0;
        text-align: center;
        color: v.$blanco;
        font-size: 1.8rem;
    }

    .author{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }
}